<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.user.mapper.CmsHelpMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.gmall.bean.CmsHelp">
    <!--@mbg.generated generated on Mon Mar 16 14:12:23 CST 2020.-->
    <!--@Table cms_help-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="show_status" jdbcType="INTEGER" property="showStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Mar 16 14:12:23 CST 2020.-->
    id, category_id, icon, title, show_status, create_time, read_count, content
  </sql>
</mapper>