<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.user.mapper.SmsFlashPromotionLogMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.gmall.bean.SmsFlashPromotionLog">
    <!--@mbg.generated generated on Mon Mar 16 14:12:23 CST 2020.-->
    <!--@Table sms_flash_promotion_log-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="member_phone" jdbcType="VARCHAR" property="memberPhone" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="subscribe_time" jdbcType="TIMESTAMP" property="subscribeTime" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Mar 16 14:12:23 CST 2020.-->
    id, member_id, product_id, member_phone, product_name, subscribe_time, send_time
  </sql>
</mapper>