<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.user.mapper.PmsBaseAttrValueMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.gmall.bean.PmsBaseAttrValue">
    <!--@mbg.generated generated on Mon Mar 16 14:12:23 CST 2020.-->
    <!--@Table pms_base_attr_value-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="value_name" jdbcType="VARCHAR" property="valueName" />
    <result column="attr_id" jdbcType="BIGINT" property="attrId" />
    <result column="is_enabled" jdbcType="VARCHAR" property="isEnabled" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Mar 16 14:12:23 CST 2020.-->
    id, value_name, attr_id, is_enabled
  </sql>
</mapper>