<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.user.mapper.PmsProductInfoMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.gmall.bean.PmsProductInfo">
    <!--@mbg.generated generated on Mon Mar 16 14:12:24 CST 2020.-->
    <!--@Table pms_product_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="catalog3_id" jdbcType="INTEGER" property="catalog3Id" />
    <result column="tm_id" jdbcType="BIGINT" property="tmId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Mar 16 14:12:24 CST 2020.-->
    id, product_name, description, catalog3_id, tm_id
  </sql>
</mapper>